section{
    padding-top: 100px;
    font-family: "GT Walsheim Pro";
    text-transform: uppercase;
    color: white;
}

.topic{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.paragraph{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
}

.stack{
    padding-top: 100px;
}

.line1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.line2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}