.package{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 102px;
}

@media (max-width: 375px){
    .package{
        flex-direction: column;
    }
}