.box{
    width: 201px;
    height: 193px;
    background-color: #EFF2F9;
    display: flex;
    flex-direction: column;
    /* gap: 33px; */
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.percentage-status{
    color: #8A8A8A;
    margin-top: -18px;
    font-size: 20px;

}
.percentage{
    position: absolute;
    transform: translateY(-70%);
    font-size: 20px;
}