main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    align-items: center;
}
.introduction{
    color:#A7A7A7;
    font-size: 42px;
    width: 50%;
    font-family: "GT Walsheim Pro";
}
.image{
    border-radius:50%;
}
