main{
    width: 100%;
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: space-around;
}
.introduction{
    color: white;
    font-size: 42px;
    width: 50%;
    font-family: "GT Walsheim Pro";
    text-transform:uppercase;
}

@media(max-width: 768px){
    .introduction{
        font-size: 30px;
    }

    .main{
        padding: 30px;
        width: 90%;
    }
}

@media(max-width: 414px){
    .introduction{
        width: 100%;
        padding: 20px;
    }
    .image{
        display: none;
    }
}