.navbar-container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
}

.logo{
    font-family: "PP Monument Extended";
    font-size: 20px;
    font-weight: 700;
    color: #E70FAA;
}

.subnav{
    display: flex;
    gap:50px;
    align-items: center;
}

.links{
    display: flex;
    gap: 60px;

}
.links li{
    list-style: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color:#A7A7A7;
}
.icons{
    display: flex;
    gap:20px;
}