@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.menu{
    background-color: #EFF2F9;
}

.menu a{
    color: #8A8A8A;
}

.menu-options{
    display: flex;
    gap: 17px;
    padding: 16px 0px 17px 0px;
    justify-content: center;
}

.menu-options li{
    list-style: none;
    /* padding: 16px 17px 17px 17px; */
    font-size: 24px;
}

.navigation-direction{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 93px;
    padding: 24px 0px 69px 0px;
}

.direction{
    display: flex;
    align-items: center;
    gap: 20px;
}

.direction li{
    list-style: none;
}

.direction a{
    font-size: 20px;
    color: #8A8A8A;
}

.navigation-direction label{
    font-size: 20px;
}

.navigation-direction select{
    font-size: 18px;
    background: #EFF2F9;
    border: none;
}

.sort{
    display: flex;
    gap: 17px;
}

@media (max-width: 768px){}

@media(max-width: 375px){
    .navigation-direction{
        flex-direction: column;
        gap: 20px;
    }
}